# Copyright (c) 2016-2020 Martin Donath <martin.donath@squidfunk.com>

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.

# Project information
site_name: GIScience Research       
site_url: https://github.com/emilyzhou112/geog281a
site_author: Emily Zhou & Peter Kedron
site_description: >-
  An instruction booklet for the GIScience Research class at UCSB. 

# Repository
repo_name: emilyzhou112/geog281a
repo_url: https://github.com/emilyzhou112/geog281a
edit_uri: ""

# Copyright
copyright: Copyright &copy; 2026 Peter Kedron & Emily Zhou

# Configuration
theme:
  logo: assets/icon.svg
  favicon: assets/fav.svg
  name: material

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  language: en

  features:
    # - tabs
    - navigation.instant:false
    - navigation.instant.progress  
    - navigation.indexes 
    - navigation.footer 
    - content.code.copy
    - toc.integrate

  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  font:
    text: Source Sans 3
    code: Source Code Pro

extra_css:
  - styles/extra.css
  - styles/tufte-notes.css
  - https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css

 
# Plugins
plugins:
  - search
  - minify

# src and site directories
docs_dir: 'src'
site_dir: 'docs'

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/emilyzhou112

# Extensions
markdown_extensions:
  - smarty
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: false
      toc_depth: 4
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      use_pygments: true
      linenums_style: pymdownx-inline
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format 
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - attr_list
  - md_in_html
  - footnotes

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js
  - javascripts/lightbox-init.js
  - javascripts/embed-refresh.js


# Page tree
nav:
- WELCOME: index.md  
- COURSE INFO: course-info.md
- Introduction: intro.md  
- Understanding GIScience:
  - Tool-Science Debate: module1/debate.md
  - GIScience and Geography: module1/giscience-geography.md
  - Principles and Laws: module1/principles-laws.md
- Knowledge Representation: 
  - Spatial Ontologies - Space: module2/ontologies1.md
  - Spatial Ontologies - Place: module2/ontologies2.md
- Knowledge Inference:
  - Maps: module3/maps.md
- Uncertainty and Limits:
  - Uncertainty: module4/uncertainty.md
- Validation:
  - Open GIScience: module5/osgis.md
- Ethics: ethics.md
- Research Frontiers: conclusions.md
- ACTIVITIES:
  - Week 1:  activities/wk1.md
- STUDIO: studio.md

    